.slowlyAppear {
  animation: slowlyAppear 0.5s linear;
}

@keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}

td {
  padding:0 5px 0 5px;
}

.help-tip {
	position: absolute;
  bottom:5px;
  left: 5px;
  z-index:10;
	text-align: center;
	background-color: #BCDBEA;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	font-size: 22px;
	line-height: 42px;
	cursor: default;
}
.help-tip:before {
	content:'?';
	font-weight: bold;
	color:#fff;
}

#hex_3_3 {
  content:'3';
  font-weight: bold;
  color: #ffffff;
}

#hexModal {
  position: absolute;
  background-color: 'white';
  z-index: 10;
}

#board {
  position: relative;
}

#GameBoard {
  background-image: url(../imgs/water1.jpg);
}

.default-hex {
  stroke: #E8D0A9;
  stroke-width: 3px;
}

.building-info {
  display: inline-block;
  margin: 5px;
}

.mouse-to-display-vertex {
  fill: #9900ff;
  stroke: #9900ff;
  opacity: 0.7;
  r: 7;
}

.mouse-to-display-edge {
  fill: #00ff00;
  stroke: #00ff00;
  stroke-width: 5;
  opacity: 0.7;
}

.emphasize-vertex {
  fill: #9900cc;
  stroke: #9900cc;
  r: 9;
  opacity: 0.9;
}

.emphasize-edge {
  fill: #00cc00;
  stroke: #00cc00;
  stroke-width: 7;
  opacity: 0.9;
}

.player-info {
  color: white;
}

#b {
  width: 100%;
  height: 100%;
  position: absolute;
}
