.slowlyAppear {
  animation: slowlyAppear 0.5s linear;
}

@keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}

td {
  padding:0 5px 0 5px;
}

.help-tip {
	position: absolute;
  bottom:5px;
  left: 5px;
  z-index:10;
	text-align: center;
	background-color: #BCDBEA;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	font-size: 22px;
	line-height: 42px;
	cursor: default;
}
.help-tip:before {
	content:'?';
	font-weight: bold;
	color:#fff;
}
#GameBoard {
  background-image: url(../imgs/water1.jpg);
}


.default-hex {
  stroke: #E8D0A9;
  stroke-width: 3px;
}

.building-info {
  display: inline-block;
  margin: 5px;
}

.mouse-to-display-vertex {
  fill: #9900ff;
  stroke: #9900ff;
  opacity: 0.5;
  r: 7;
}

.mouse-to-display-edge {
  fill: #00ff00;
  stroke: #00ff00;
  stroke-width: 5;
  opacity: 0.5;
}

.emphasize-vertex {
  fill: #9900cc;
  stroke: #9900cc;
  r: 9;
  opacity: 0.7;
}

.emphasize-edge {
  fill: #00ff00;
  stroke: #00ff00;
  stroke-width: 7;
  opacity: 1;
}


.player-info {
	color: white;
	
}

.my-detail {
  width: 100%;
  height: 100%;
}

#list-group.player-info {
	display:block;
	float:left;
	table-layout:fixed;	
}


.dice-and-end {
  float: right;
  margin: 3px;
}

.dice {
  width: 30%;
  height: 30%;
}

.on-highlighted {
  border:#CCCCCC thin solid;
  padding: 4px;
}

#gameBoardAndPlayersInfoAndBuildingInfo {
	top: 0%;
	left: 0%;
	width: 100%;
	height: 85%;
	position: absolute;
}

#BuildingInfoAndPlayersInfo {
	top: 0%;
	left: 0%;
	width: 36.25%;
	height: 100%;
	position: relative;
}

#GameBoard {
	top: 0%;
	left: 36.25%;
	width: 63.75%;
	height: 100%;
	position: absolute;
}


#MyResourcesInfoAndBankInfo {
	top: 85%;
	left: 0%;
	width: 100%;
	height: 15%;
	position: absolute;
}

#MyResourcesInfo {
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	position: absolute;
}


li img {
  width: 5%;
  height: 5%;
}

li p {
margin-left: 7px;
}
li img {
margin-left: 7px;
}

.list-group {
	color: black;
	margin-left:-15px;
	margin-right:-15px;
}

.playertable-item img {
  width: 8%;
  height: 8%;
}

ul {
    list-style-type: none;
}

#MyResourcesInfoAndBankInfo {
	border-top:2px solid black;
}

#gameArea {
  border: 3px solid #B50505;
  font-family:"Segoe UI";
}

#MyResourcesInfo {
  background-image: url(../imgs/card-pattern.jpg);
}


.my-cards img {
	width:6%;
}

body {
	background-color:#A6A6A6 !important;
}

.mycards-header {
	margin-left:7px;
}


#PlayersInfo {
	position:absolute;
	bottom: 0;
	margin-bottom:-35px;
}
