<!DOCTYPE html>
<!-- build:[manifest] index.min.appcache -->
<html lang="en" ng-app="myApp" ng-strict-di>
<!-- /build -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Pioneers</title>
  <meta name="description" content="Pioneers game">
  <link rel="shortcut icon"type="image/x-icon" href="data:image/x-icon;,"><!-- Suppress browser request for favicon.ico -->

  <!-- To ensure CSS files are downloaded in parallel, always include external CSS before external JavaScript. -->
  <!-- build:[href] css/everything.min.css -->
  <link rel="stylesheet" type="text/css" href="css/game.css">
  <!-- /build -->
  <link crossorigin="anonymous" rel="stylesheet" type="text/css" href="http://yoav-zibin.github.io/emulator/main.css">

  <!-- build:[href] http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css -->
  <link crossorigin="anonymous" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.css">
  <!-- /build -->

  <!-- The crossorigin attribute controls, for scripts that are obtained from other origins, whether error information will be exposed. -->
  <!-- build:[src] http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js -->
  <script crossorigin="anonymous" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
  <!-- /build -->

  <!-- For the game rules/instructions, I use carousel from Angular UI + Bootstrap -->
  <!-- build:[src] http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-touch.min.js -->
  <script crossorigin="anonymous" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-touch.js"></script>
  <!-- /build -->
  <!-- build:[src] http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js -->
  <script crossorigin="anonymous" src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.js"></script>
  <!-- /build -->

  <!-- build:[src] http://yoav-zibin.github.io/emulator/dist/turnBasedServices.3.min.js -->
  <script crossorigin="anonymous" src="http://yoav-zibin.github.io/emulator/dist/turnBasedServices.3.js"></script>
  <!-- /build -->

  <!-- build:js js/everything.min.js -->
  <script src="ts_output_readonly_do_NOT_change_manually/src/gameLogic.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/game.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/common.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/aiService.js"></script>
  <!-- /build -->

  <!-- build:remove -->
  <!-- https://github.com/philipwalton/html-inspector#getting-started -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/html-inspector/0.8.2/html-inspector.js"></script>
  <!-- /build -->
</head>
<body ng-cloak>
  <div id="e2e_test_open_rules_modal" class="help-tip" ng-click="game.isHelpModalShown = true" aria-hidden="true"></div>

  <div class="overlayModal" ng-click="game.clickedOnModal($event)"
      ng-class="{zeroOpacity: !game.isHelpModalShown, oneOpacity: game.isHelpModalShown}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="game.isHelpModalShown = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 id="e2e_test_rules_title" class="modal-title">
            {{ 'RULES_OF_TICTACTOE' | translate }}
          </h4>
        </div>
        <div class="modal-body">
          <carousel style="height: 150px">
            <slide>
              <table>
                <tr>
                  <td id="e2e_test_rules_slide1_text">
                    {{ 'RULES_SLIDE1' | translate }}
                  </td>
                  <td>
                    <img src="imgs/HelpSlide1.png" alt="Help slide 1" style="height:100px;">
                  </td>
                </tr>
              </table>
            </slide>
            <slide>
              <table>
                <tr>
                  <td id="e2e_test_rules_slide2_text">
                  {{ 'RULES_SLIDE2' | translate }}
                  </td>
                  <td>
                    <img src="imgs/HelpSlide2.png" alt="Help slide 2" style="height:100px;">
                  </td>
                </tr>
              </table>
            </slide>
          </carousel>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="game.isHelpModalShown = false">
            {{ 'CLOSE' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

<div id="gameArea">

  <div class="not-bottom" style="position:absolute; top:0; left:0; width:100%; height:85%;">
    <div id="board" class="board" style="position:absolute; top:0; left:36.25%; width:63.75%; height:100%; border:2px solid">
      <svg id ="b" version"1.1" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
      </svg>
      <script>
        function hexPoints(x, y, radius) {
          var points = [];
          for (var theta = 0; theta < Math.PI * 2; theta += Math.PI / 3) {
            var pointX, pointY;
            pointX = x + radius * Math.sin(theta);
            pointY = y + radius * Math.cos(theta);
            points.push(pointX + ',' + pointY);
          }
          return points.join(' ');
        }
        var row, col, x, y, pointX, pointY, theta;
        var svg = document.getElementById('b');
        var radius = 45;
        for (row = 0; row < 7; row++) {
          for (col = 0; col < 7; col++) {
		    if ((row === 0 || row === 6) && (col === 0 || col > 4)) continue;
		    if ((row === 1 || row === 5) && (col === 0 || col === 6)) continue;
		    if ((row === 2 || row === 4) && col === 6) continue;
			
            var offset = (Math.sqrt(3) * radius) / 2;
            x = 120 + offset * col * 2;
            y = 100 + offset * row * Math.sqrt(3);
            if (row%2 === 1)
              x -= offset;
            var polygon = document.createElementNS("http://www.w3.org/2000/svg", "polygon");
            polygon.style.fill = 'white';
            polygon.style.stroke = 'black';
            polygon.style.strokeWidth = '2px';
            polygon.setAttribute('points', hexPoints(x, y, radius));
            //polygon.fill('imgs/resource0');
            //polygon.style.backgroundImage = url("./src/resource0");
            polygon.style.backgroundImage = "url('imgs/resource0.jpg')";
//            polygon.style.backgroundImage = "url('http://java2s.com/style/demo/border.png')";
//            polygon.style.src = "src/resource0";
//            if (row === 1 && col === 1)
//              console.log(polygon);
        
            polygon.addEventListener('click', function (event) {
              event.target.style.boxShadow = '0 0 5px blue inset';
            }, false);
        
            b.appendChild(polygon);
          }
        }
      </script>
    </div>
    <div class="left-panel" style="position:absolute; top:0; left:0; width:36.25%; height:100%;">
      <div class="dice_roll" style="position:absolute; top:0; left:0; width:100%; height:20%;"
          ng-if="game.canRollDice() == true" ng-click="game.rollDice()">
        <img ng-src="imgs/dice1.png">
      </div>
      <div class="dice_no_roll" style="position:absolute; top:0; left:0; width:100%; height:20%;"
          ng-if="game.canRollDice() == false">
        <img ng-src="imgs/dice2.png">
      </div>
      <div class="buildings" style="position:absolute; top:20%; left:0; width:100%; height:20%;">
        <div class="roads_left" style="position:absolute; top:0; left:0; width:33%; height:100%;" ng-click="game.buildRoad()">
          <p>{{15-game.getPlayerInfo(0).construction[0]}} roads can still be built</p>
        </div>
        <div class="settlements_left" style="position:absolute; top:0; left:33%; width:33%; height:100%;" ng-click="game.buildSettlement()">
          <p>{{5-game.getPlayerInfo(0).construction[1]}} roads can still be built</p>
        </div>
        <div class="cities_left" style="position:absolute; top:0; left:66%; width:33%; height:100%;" ng-click="game.buildCity()">
          <p>{{4-game.getPlayerInfo(0).construction[2]}} roads can still be built</p>
        </div>
      </div>
      <div id="p1_status" class="player_status" style="position:absolute; top:40%; left:0; width:100%; height:15%; background-color:#FF5050">
	    <div id="p1_name" class="player_name" style="position:absolute; top:0%; left:0; width:100%; height:30%;">
		  <p>Player 1</p>
		</div>
        <div id="p1_points" class="player_points" style="position:absolute; top:30%; left:0; width:25%; height:70%;">
          <p>{{game.getPlayerInfo(0).points}} points</p>
        </div>
        <div id="p1_knights" class="player_knights" style="position:absolute; top:30%; left:25%; width:25%; height:70%;">
          <p>{{game.getPlayerInfo(0).knightsPlayed}} knights played</p>
        </div>
        <div id="p1_resource" class="player_resource" style="position:absolute; top:30%; left:50%; width:25%; height:70%;">
          <p>{{game.getPlayerCardCount(0, 0)}} resource cards</p>
        </div>
        <div id="p1_dev" class="player_dev" style="position:absolute; top:30%; left:75%; width:25%; height:70%;">
          <p>{{game.getPlayerCardCount(0, 1)}} development cards</p>
        </div>
      </div>
      <div id="p2_status" class="player_status" style="position:absolute; top:55%; left:0; width:100%; height:15%; background-color:#5050FF">
	    <div id="p2_name" class="player_name" style="position:absolute; top:0%; left:0; width:100%; height:30%;">
		  <p>Player 2</p>
		</div>
        <div id="p2_points" class="player_points"  style="position:absolute; top:30%; left:0; width:25%; height:70%;">
        <p>{{game.getPlayerInfo(1).points}} points</p>
        </div>
        <div id="p2_knights" class="player_knights" style="position:absolute; top:30%; left:25%; width:25%; height:70%;">
          <p>{{game.getPlayerInfo(1).knightsPlayed}} knights played</p>
        </div>
        <div id="p2_resource" class="player_resource" style="position:absolute; top:30%; left:50%; width:25%; height:70%;">
          <p>{{game.getPlayerCardCount(1, 0)}} resource cards</p>
        </div>
        <div id="p2_dev" class="player_dev" style="position:absolute; top:30%; left:75%; width:25%; height:70%;">
          <p>{{game.getPlayerCardCount(1, 1)}} development cards</p>
        </div>
      </div>
      <div id="p3_status" class="player_status"  style="position:absolute; top:70%; left:0; width:100%; height:15%; background-color:#78DADD">
	    <div id="p3_name" class="player_name" style="position:absolute; top:0%; left:0; width:100%; height:30%;">
		  <p>Player 3</p>
		</div>
        <div id="p3_points" class="player_points"  style="position:absolute; top:30%; left:0; width:25%; height:70%;">
          <p>{{game.getPlayerInfo(2).points}} points</p>
        </div>
        <div id="p3_knights" class="player_knights" style="position:absolute; top:30%; left:25%; width:25%; height:70%;">
          <p>{{game.getPlayerInfo(2).knightsPlayed}} knights played</p>
        </div>
        <div id="p3_resource" class="player_resource" style="position:absolute; top:30%; left:50%; width:25%; height:70%;">
          <p>{{game.getPlayerCardCount(2, 0)}} resource cards</p>
        </div>
        <div id="p3_dev" class="player_dev" style="position:absolute; top:30%; left:75%; width:25%; height:70%;">
          <p>{{game.getPlayerCardCount(2, 1)}} development cards</p>
        </div>
      </div>
      <div id="p4_status" class="player_status"  style="position:absolute; top:85%; left:0; width:100%; height:15%; background-color:#8855AA">
	    <div id="p4_name" class="player_name" style="position:absolute; top:0%; left:0; width:100%; height:30%;">
		  <p>Player 4</p>
		</div>
        <div id="p4_points" class="player_points"  style="position:absolute; top:30%; left:0; width:25%; height:70%;">
          <p>{{game.getPlayerInfo(3).points}} points</p>
        </div>
        <div id="p4_knights" class="player_knights" style="position:absolute; top:30%; left:25%; width:25%; height:70%;">
          <p>{{game.getPlayerInfo(3).knightsPlayed}} knights played</p>
        </div>
        <div id="p4_resource" class="player_resource" style="position:absolute; top:30%; left:50%; width:25%; height:70%;">
          <p>{{game.getPlayerCardCount(3, 0)}} resource cards</p>
        </div>
        <div id="p4_dev" class="player_dev" style="position:absolute; top:30%; left:75%; width:25%; height:70%;">
          <p>{{game.getPlayerCardCount(3, 1)}} development cards</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom" style="position:absolute; top:85%; left:0; width:100%; height:15%;">
    <div id="bank" style="position:absolute; top:0; left:0; width:37.5%; height:100%; border:2px solid">
      <div ng-repeat="col in [0, 1, 2, 3, 4, 5]"
          style="position:absolute; top:0%; left:{{col * 16.666}}%; width:16.666%; height:100%;">
          <div class="resource_icon" style="position:absolute; top:0; left:0; width:100%; height:67%;">
            <img src="imgs/resource{{col}}.jpg" style="width:100%" alt="resource{{col}}" ng-if="col < 5">
			<img src="imgs/dev_card.jpg" style="width:100%" alt="development card" ng-if="col == 5">
          </div>
          <div class="resource_count" style="position:absolute; top:67%; left:0; width:100%; height:33%;">
            <p>{{}}</p>
          </div>
      </div>
    </div>
    <div id="player_cards" style="position:absolute; top:0; left:37.5%; width:62.5%; height:100%; border:2px solid">
      <div ng-repeat="col in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
          style="position:absolute; top:0%; left:{{col * 10}}%; width:10%; height:100%;">
         <img src="imgs/resource{{col}}.jpg" style="width:100%" alt="resource{{col}}" ng-if="col < 5">
         <img src="imgs/knight2.jpg" style="width:100%" alt="knight" ng-if="col == 5">
         <img src="imgs/monopoly.jpg" style="width:100%" alt="monopoly"ng-if="col == 6">
         <img src="imgs/roadbuilding.jpg" style="width:100%" alt="road building"ng-if="col == 7">
         <img src="imgs/year_of_plenty.jpg" style="width:100%" alt="year of plenty"ng-if="col == 8">
         <img src="imgs/victory_point.jpg" style="width:100%" alt="victory point"ng-if="col == 9">
         <p ng-if="col < 5">{{game.getPlayerInfo(0).resource[col]}}</p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
